

        <div
        class="max-w-screen-xl  px-6 grid gap-8 grid-cols-1 md:grid-cols-1 py-6 mx-auto bg-gray-100 text-gray-900 rounded-lg shadow-lg">
        <div class="flex flex-col justify-between">
          <div>
            <h2 class="text-4xl lg:text-5xl font-bold leading-tight">I'm taking commissions!</h2>
            <div class="text-gray-700 mt-8">
              You can email me <a href="https://www.instagram.com/laradevito.art" class="text-indigo-500">here <i class="fa-regular fa-envelope  fa-xl"></i></a> or DM me on <a class="text-indigo-500" href="https://www.instagram.com/laradevito.art">Instagram <i class="fa-xl fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
        
      
     
        </div>
      </div>




 




   
