---
import Commission from "./commission.astro"
---




<div class="flex flex-col lg:flex-row mt-10 mb-12">
<div class="flex ">
  <div class="max-w-lg ">
    <div class="relative mt-5 mb-0">
      <p class="mb-2"><span class="text-xl font-bold">Hi!</span> my name is </p>
      <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0 ">
        <span class="text-[1.5em]">Lara Devito</span><span class="text-red-600 font-black">.</span>
      </h2>
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0">
        <span class="opacity-60">I am a freelance artist specializing in traditional methods currently attending the Rhode Island School of Design. I enjoy painting, tattooing and I really love my cat.</span>
      </h4>
    </div>
  </div>
  
</div>
<Commission></Commission>

</div>
